.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.Pause {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 12s linear running;
  }

  .Pause {
    animation: App-logo-spin infinite 12s linear paused;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer {
  background-color: "black";
  position: fixed;
  width: 100%;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ImageSize {
  height: 50px;
  width: 50px;
}

i.fab {
  font-size: 50px;
  color: black;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
